body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 15px;
}